.experience-container{

    margin:4rem 1rem;
    position:relative;

}

.experience-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem ;
}

.arrow-right, .arrow-left {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2rem;
    height: 2.2rem;
    color: #6751b9;
    background:#130f2a ;
    border: 1.5px solid #6751b9;
    border-radius: 0.65rem;
    position: absolute;
    top: 60%;
    z-index: 2;
  }

  .arrow-left span, .arrow-right span{
    font-size: 2rem;
    font-weight: 500;
  } 
  
  .arrow-right {
    right: 1rem;
  }
  
  .arrow-left {
    left: 1rem;
  }
.material-symbols-outlined {
    font-size: 24px;
  }

@media (max-width:768px){

    .experience-container h5{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .arrow-left{
        left: 0rem;
    }

    .arrow-right{
        right: 0rem;
    }

    

}


  